{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Welcome to Ask Art {% endblock %}</h1>
    <form method="post">
        <div class="form-group">
            <label>Ask questions about art</label>
            <input type="text" name="title"
                   placeholder="Enter Question..." class="form-control"
                   value="{{ request.form['title'] }}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Show Results</button>
        </div>
    </form>
<div>
    <label id="caption-output">{{ result_label }}</label>
    <textarea id="output" readonly class="form-control" rows="8">
{% for artist in artists %}{{ artist }}
{% endfor %}
    </textarea>
</div>

{% endblock %}
